.bk{
	background-color: #90b380 !important;
}
.title li a {
	color: #313631 !important;
}
.title li a:hover {
	/* 鼠标选中时背景变为深色 */
	color: #4c6a48 !important;
	
}
.home-title {
	position: absolute;
	left: 100px;
	top: 200px;
	padding: 0px;
	border: 0px solid transparent;
	height: 264px;
	width: 540px;
	opacity: 0.9;
	display: block;
	background-color: rgb(32, 88, 79);
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}
.home-title a{
	position:absolute;
	left:50px;
	top:170px;
	width:160px;
	height:50px;
	border:2px solid #fff;
	text-decoration: none;
	color:#fff;
	text-align: center;
	line-height:50px;
}
.home-title a:hover{
	animation-name: change;
	animation-duration: 1s;
	color:rgb(32, 88, 79);
	background-color: #fff;
}
@keyframes change{
	from{color:#fff;background:none;}
	to{color:rgb(32, 88, 79);
	background-color: #fff;}
}