video {
	object-fit: contain;
	position: absolute;
	left: 0;
	top: 0;
	width: 1532px;
}

.story_vedio {
	position: absolute;
	left: -4px;
	top: 0;
	width: 1532px;
}

.mystory-title {
	width: 300px;
	height: 120px;
	position: absolute;
	left: 1000px;
	top: 250px;
	animation-name: fadeInRight;
	animation-duration: 2s;
}

#title-1 {
	position: absolute;
	left: 0;
	top: 10px;
	font-size: 45px;
	color: #e7e7e7;
}

#title-2 {
	font-size: 35px;
	color: #d6f1e5;
	position: absolute;
	left: 50px;
	top: 20px;
}

#title-3 {
	font-size: 40px;
	color: #ced4ce;
	position: absolute;
	left: 90px;
	top: 15px;
}

#title-4 {
	font-size: 48px;
	color: #a0af9d;
	position: absolute;
	left: 135px;
	top: 8px;
}

#title-bottom {
	font-size: 15px;
	color: #fff;
	position: absolute;
	left: 40px;
	top: 90px;
	letter-spacing: 10px;
}

.mystory-main1 {
	position: absolute;
	background-color: #ffffff;
	top: 600px;
	left: 0;
	width: 100%;
	height: 600px;
	min-width: 1524px;
	opacity: 0;
}

.main1-title {
	font-family: NSimSun;
	font-size: 40px;
	position: absolute;
	left: 620px;
	top: 100px;
	letter-spacing: 15px;


}

.line {
	top: 200px;
}

#main1-img1 {
	width: 900px;
	height: 500px;
	position: absolute;
	left: 320px;
	top: 400px;
}

.main1-mes1,.main1-mes2 {
	width: 800px;
	font-family: 'PingFang SC';
	font-size: 14px;
	color: #000000;
	letter-spacing: 3px;
	line-height: 36px;
	position: absolute;
	left: 360px;
	text-align: center;
}
.main1-mes1{
		top: 250px;
}
.main1-mes2{
		top: 1000px;
}
#main1-img2{
	width: 800px;
	height: 450px;
	position: absolute;
	left: 370px;
	top: 1200px;
}
@media screen and (max-width: 1400px) {

.mystory-main1{
		opacity: 1 !important;
	}
}

@media screen and (min-width:3500px) {
.mystory-main1{
		opacity: 1 !important;
	}
}