.title li a {
	color: #434343 !important;
}

.title li a:hover {
	/* 鼠标选中时背景变为深色 */
	color: #5f8459 !important;

}

.bk {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 750px;
	max-height: auto;
	min-width: 1525px;
	max-width: auto;
	background: none;
}

.purchase-title {
	position: absolute;
	left: 1000px;
	top: 330px;
	width: 420px;
	height: 100px;
	animation-name: fadeInRight;
	animation-duration:1.5s;
	;

}

#purchase-title-1 {
	position: absolute;
	top: 0;
	left: 50px;
	color: rgb(0, 0, 0);
	font-family: 微软雅黑;
	font-size: 36px;
}

#purchase-title-2 {
	position: absolute;
	top: 60px;
	;
	left: 0px;
	color: rgb(0, 0, 0);
	font-family: 微软雅黑;
	font-size: 24px;
}

.purchase-main1 {
	position: absolute;
	top: 750px;
	left: -5px;
	width: 100%;
	height: 1000px;
	min-width: 1529px;
	background-color: #fff;
}
.main1-title{
	position:absolute;
	top:80px;
	left:600px;
	width:300px;
	height:100px;
}
#main1-title-1 {
	position: absolute;
	left: 20px;
	top: 0;
	font-size: 60px;
	font-family: Times\ New\ Roman;
	color: rgb(244, 244, 246);
}

#main1-title-2 {
	position: absolute;
	left: 95px;
	top: 30px;
	font-size: 32px;
	font-family: 微软雅黑;
	color: rgb(127, 127, 127);
}
@keyframes flipInX {
0% {
-webkit-transform:perspective(400px) rotateX(10deg);
opacity:0.7;
}
100% {
-webkit-transform:perspective(400px) rotateX(0deg);
opacity:1;
}
}

