*{
	margin:0;
	padding:0;
}
.bk,
.bknight,
.main{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
	min-height: 100vh;
	max-height:auto;
	min-width: 100vw;
	max-width: auto;
	overflow: scroll;
}
.page{
	position: absolute;
	left:0;
}
.bk {
	background-color: #f5f8f5;
}

.bknight {
	background: linear-gradient(-180deg, #1f2235 0%, #535668 100%);
}
.night {
	position: absolute;
	left: 1350px;
	top: -25px;
	padding: 0.5rem;
	border: 0;
	border-radius: 60px;
	width: 90px;
	background-color: #6999b3;
	color: #fff;
	margin: 2rem 0 0 auto;

}

.night:hover {
	background: #8eb8dc;
	color: #fff;
	border-radius: 60px;
	box-shadow: 0 0 5px #8eb8dc,
		0 0 25px #8eb8dc,
		0 0 50px #8eb8dc,
		0 0 100px #8eb8dc;
}

.night:focus {
	outline: 0;
}


.title,
.nititle{
	height: 35px;
	left: 120px;
	font-size: 15px;
	width: 1200px;
	margin-left: 0;
	position: absolute;
	top: 3px;
	color: white;
	margin-bottom: 1px;
	overflow: hidden;
	border-radius: 8px;
}
.title{
		background-color: #868686;
}

.title ul,
.nititle ul{
	/* 清除ul标签的默认样式 */
	width: 1100px;
	position: absolute;
	left: 200px;
	list-style-type: none;
	margin: 0;
	padding: 0;

}

.title li,
.nititle li {
	float: left;
	/* 使li内容横向浮动，即横向排列  */
	margin-right: 90px;
	/* 两个li之间的距离*/
	position: relative;
	top: 0.;

	border-color: #222222;
	border-radius: 8px;
}

.title li a,
.nititle li a{
	/* 设置链接内容显示的格式*/
	display: block;
	/* 把链接显示为块元素可使整个链接区域可点击 */
	color: #ffffff;
	text-align: center;
	padding: 8px 15px;
	text-decoration: none;
	/* 去除下划线 */
}

.title li a:hover {
	/* 鼠标选中时背景变为深色 */
	background-color: #83b19c;
	border-radius: 8px;
}

.nititle {
	background-color: #42435f;
}
.nititle li a:hover {
	/* 鼠标选中时背景变为深色 */
	background-color: #8599ce;
	border-radius: 8px;
}

.lefttips,
.nilefttips{
	opacity: 0.9;
	border-radius: 5px;
	position: fixed;
	top: 170px;
	left: 0;
	height: 180px;
	width: 40px;
	text-align: center;
	writing-mode: vertical-rl;
	/*从左向右 从右向左是 writing-mode: vertical-rl;*/
	writing-mode: tb-rl;
	/*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/
	box-shadow: 1px -1px 1px 0px #bcf5ac, -1px 1px 1px 0px #bcf5ac, 1px -1px 1px 0px #bcf5ac, -1px 1px 1px 0px #bcf5ac;
}
.lefttips{	
	background-color: #fff;
	box-shadow: 1px -1px 1px 0px #bcf5ac, -1px 1px 1px 0px #bcf5ac, 1px -1px 1px 0px #bcf5ac, -1px 1px 1px 0px #bcf5ac;
	}
.nilefttips {
	background-color: #414c5d;
	box-shadow: 1px -1px 1px 0px #363d48, -1px 1px 1px 0px #474f5e, 1px -1px 1px 0px #424a58, -1px 1px 1px 0px #292d36;
}

.tips,
.nitips{
	position: absolute;
	top: 15px;
	left: 10px;
	font-size: 14px;

}
.tips{
	color: #678b70;
}
.nitips {
	color: #ffffff;

}

#t1 {
	color: #6aa86b;
}

#t1:hover {
	color: #75b975;
	text-shadow: 0 0 2px #75b975,
		0 0 4px #75b975,
		0 0 6px #75b975;
}

.symbol {
	font: italic 1em Georgia, serif;
	font-size: 35px;
	color: #ffc0c1;
	text-shadow: 2px 2px 2px #e7e7e7;
	position: absolute;
	left: 150px;
	top: 1px;
	border-color: #ffa2a7;
}
#particles-js {
	position:fixed;
	width:100vw;
	height:100vh;
}

.footer {
	width: 300px;
	color: #b3b3b3;
	font-size: 15px;
	margin-left: 5px;
	position: absolute;
	left:600px;
	top:720px;
	text-align: center;
	padding-bottom: 5px;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
}

::-webkit-scrollbar-track-piece {
	border-radius: 15px;
	-webkit-border-radius: 15px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 8px;
	background-color: rgba(115, 115, 115, 0.5);
	border-radius: 15px;
	-webkit-border-radius: 15px;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 8px;
	background-color: rgba(110, 112, 115, 0.5);
	border-radius: 15px;
	-webkit-border-radius: 15px;
}

[v-cloak] {
	display: none !important;
}
@media screen and (min-width: 1700px) { 
.page{position:relative;left:5%} 
} 
@media screen and (min-width: 1900px) { 
.page{position:relative;left:10%;top:2%;} 
} 
@media screen and (min-width: 2000px) { 
.page{position:relative;left:12%;top:5%;} 
} 
@media screen and (min-width: 2200px) { 
.page{position:relative;left:15%;top:10%;} 
} 
@media screen and (min-width: 2400px) { 
.page{position:relative;left:24%;top:15%;} 
} 
@media screen and (min-width: 3200px) { 
.page{position:relative;left:18%;top:17%} 
}
@media screen and (min-width: 4500px) { 
.page{position:relative;left:32%;top:17%} 
}

@media screen and (min-width: 5000px) { 
.page{position:relative;left:35%;top:22%;} 
}