
			html {
				height: 100%;
			}

			.bk {
				background: linear-gradient(-180deg, #cdf2de 0%, #ffffff 100%);
				backgroud-position: center;
				background-size: cover;
				background-attachment: fixed;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				width: 1536px;
				height: 753px;
			}

			.box {
				position: absolute;
				background-color: #FFFFFF;
				top: 100px;
				left: 500px;
				width: 500px;
				height: 550px;
				box-shadow: 3px -2px 5px 2px #fafafa, -3px 2px 5px 2px #fafafa, 3px -2px 5px 2px #fafafa, -3px 2px 5px 2px #fafafa;
				border-radius: 10px;
			}

			.head {
				position: absolute;
				left: 210px;
				top: 70px;
				height: 70px;
				width: 70px;
				border-radius: 50%;
			}

			form {
				position: absolute;
				left: 90px;
				top: 120px;
				margin: auto;
				position: absolute;
				width: 100%;
				max-width: 300px;
			}

			label {
				display: block;
				margin-bottom: 10px;
				color: #478349;
			}

			input {
				display: block;
				width: 100%;
				margin: 0 0 1rem 0;
				padding: 0.5rem;
				font-size: 1rem;
				border: 0;
				border-radius: 0.125rem 0.25rem;
				background-color: hsl(-1, 0%, 97%);
			}

			input:focus {
				outline: 0;
				box-shadow: 1px 1px 1px 1px #b4d5bf;
			}

			input::-webkit-input-placeholder {
				color: #c3cccc;

			}

			input:focus::-webkit-input-placeholder {
				color: #FFFFFF;
			}

			.bt1 {
				position: absolute;
				left: 80px;
				top: 440px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #c9f9b5;
				color: #fff;
				margin: 2rem 0 0 auto;
			}

			.bt2 {
				position: absolute;
				left: 300px;
				top: 440px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #c9f9b5;
				color: #fff;
				margin: 2rem 0 0 auto;
			}


			button:hover {
				background: #cbffb8;
				color: #fff;
				border-radius: 60px;
				box-shadow: 0 0 5px #c9f9b5,
					0 0 25px #c9f9b5,
					0 0 50px #c9f9b5,
					0 0 100px #c9f9b5;
			}

			button:focus {
				outline: 0;
			}

			.f1 {
				width: 120px;
				height: 110px;
				top: 600px;
				left: 450px;
				position: absolute;
			}

			.f2 {
				width: 260px;
				height: 100px;
				top: 80px;
				left: 800px;
				position: absolute;
			}

			.txt {
				font: italic 1em Georgia, serif;
				font-size: 35px;
				color: #ffc3be;
				text-shadow: 8px 8px 8px #eeeec6;
			}

			.p1 {
				position: absolute;
				left: 825px;
				top: 120px;


			}

			.p2 {
				position: absolute;
				left: 900px;
				top: 160px;
			}

			#tips {
				font-size: 12px;
				position: absolute;
				top: 440px;
				left: 100px;
				color: #ee8183;
				opacity: 0.9;

			}
			#strtips{
				font-size:13px;
				position: absolute;
				left:200px;
				top:280px;
				color:#93d554;
			}

			#particles-js {
				position: absolute;
				width: 1530px;
				height: 752px;
			}

			.footer {
				width: 200px;
				color: white;
				font-size: 15px;
				margin-left: 5px;
				position: absolute;
				left: 650px;
				bottom: 10px;
				text-align: center;
				padding-bottom: 5px;
			}

			@media (max-width:1535px) {
				.bk {
					height: 1800px;
				}