
		html {
					height: 100%;
				}
						
				.card{
					
					background-color:#f4f4f4;
					position:absolute;
					top:80px;
					left:100px;
					width:1300px;
					height:620px;
					bottom:100px;
					border-radius: 10px;
					opacity: 0.9;
				}
				.card1{
					background-color: #FFFFFF;
					box-shadow: 2px 2px 1px 1px #fcfcfc, -2px -2px 1px 1px #fcfcfc;
					position:absolute;
					left:20px;
					top:20px;				
					width:200px;
					height:280px;			
				}
				
				
				.card2{
					background-color: #FFFFFF;
					box-shadow: 2px 2px 1px 1px #fcfcfc, -2px -2px 1px 1px #fcfcfc;
					position:absolute;
					left:20px;
					top:320px;				
					width:200px;
					height:280px;				
				}
				
				.card3{
					background-color: #FFFFFF;
					box-shadow: 2px 2px 1px 1px #fcfcfc, -2px -2px 1px 1px #fcfcfc;
					position:absolute;
					left:240px;
					top:20px;				
					width:200px;
					height:280px;				
				}
				.card4{
					background-color: #FFFFFF;
					box-shadow: 2px 2px 1px 1px #fcfcfc, -2px -2px 1px 1px #fcfcfc;
					position:absolute;
					left:240px;
					top:320px;				
					width:200px;
					height:280px;			
				}
				.card5{
					background-color: #FFFFFF;
					box-shadow: 2px 2px 1px 1px #fcfcfc, -2px -2px 1px 1px #fcfcfc;
					position:absolute;
					left:460px;
					top:20px;				
					width:200px;
					height:280px;				
				}
				.card6{
					background-color: #FFFFFF;
					box-shadow: 2px 2px 1px 1px #fcfcfc, -2px -2px 1px 1px #fcfcfc;
					position:absolute;
					left:460px;
					top:320px;				
					width:200px;
					height:280px;				
				}
				
				.pic{
					position:absolute;
					top:3px;
					left:10px;
					width:180px;
					height:190px;
					border-radius:5px;
				}
				.buy span{
					font-size:13px;
					color: #313131;
					text-shadow:1px 1px 1px #cbcbcb;
					position:absolute;
					top:205px;
					left:20px;
				}
				#sold{
					color:#7e7e7e;
					position:absolute;
					font-size:12px;
					top:260px;
					left:130px;
				}
				.isLogin button{
					position:absolute;
					top:200px;
					left:130px;
					width:60px;
					height:25px;
					border: 0;
					border-radius: 60px;
					background-color: #a5e1bb;
					color: #fff;
					margin: 2rem 0 0 auto;
				}
				.isLogin button:hover{
					background: #a5e1bb;
					color: #fff;
					border-radius: 60px;
					box-shadow: 0 0 5px #a5e1bb,
						0 0 25px #a5e1bb,
						0 0 50px #a5e1bb,
						0 0 100px #a5e1bb;
				}