
			html {
				height: 100%;
			}

			.bk {
				background: linear-gradient(-180deg, #caeeda 0%, #f4fff8 100%);
				backgroud-position: center;
				background-size: cover;
				background-attachment: fixed;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				left: 0;
				width: 1536px;
				height: 753px;
			}
			.bknight{
				background: linear-gradient(-180deg, #52588a 0%, #8b91af 100%);
				backgroud-position:center;
				background-size: cover;
				background-attachment: fixed;
				background-repeat: no-repeat;
				position:absolute;
				top:0;
				left:0;
				width: 1536px;
				height: 753px;
			}

			.box {
				position: absolute;
				background-color: #FFFFFF;
				top: 150px;
				left: 550px;
				width: 450px;
				height: 450px;
				box-shadow: 3px -2px 5px 2px #f4f4f4, -3px 2px 5px 2px #f4f4f4, 3px -2px 5px 2px #fafafa, -3px 2px 5px 2px #fafafa;
				border-radius: 10px;
			}
			.nibox {
				position: absolute;
				top: 150px;
				left: 550px;
				width: 450px;
				height: 450px;
				background: rgba(78, 91, 120, 0.7);
				box-sizing: border-box;
				box-shadow: 0 15px 25px rgba(78, 91, 120, 0.7);
				border-radius: 10px;
			}

			.head {
				position: absolute;
				left: 185px;
				top: 70px;
				height: 70px;
				width: 70px;
				border-radius: 50%;
			}

			form {
				position: absolute;
				left: 70px;
				top: 150px;
				margin: auto;
				position: absolute;
				width: 100%;
				max-width: 300px;
			}

			label {
				display: block;
				margin-bottom: 10px;
				color: #478349;
				text-align: center;
			}

			input {
				display: block;
				width: 100%;
				margin: 0 0 1rem 0;
				padding: 0.5rem;
				font-size: 1rem;
				border: 0;
				border-radius: 0.125rem 0.25rem;
				background-color: hsl(-1, 0%, 97%);
			}

			input:focus {
				outline: 0;
				box-shadow: 1px 1px 1px 1px #b4d5bf;
			}

			input::-webkit-input-placeholder {
				color: #c3cccc;

			}

			input:focus::-webkit-input-placeholder {
				color: #FFFFFF;
			}

			.bt1 {
				position: absolute;
				left: 270px;
				top: 320px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #c9f9b5;
				color: #ffffff;
				margin: 2rem 0 0 auto;
			}

			.bt2 {
				position: absolute;
				left: 70px;
				top: 320px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #c9f9b5;
				color: #fff;
				margin: 2rem 0 0 auto;

			}


			button:hover {
				background: #cbffb8;
				color: #fff;
				border-radius: 60px;
				box-shadow: 0 0 5px #c9f9b5,
					0 0 25px #c9f9b5,
					0 0 50px #c9f9b5,
					0 0 100px #c9f9b5;
			}

			button:focus {
				outline: 0;
			}

			.night{
						position:absolute;
						left:1350px;
						top:-25px;
						padding: 0.5rem;
						border: 0;
						border-radius: 60px;
						width: 90px;
						background-color: #8eb8dc;
						color: #fff;
						margin: 2rem 0 0 auto;
						
				}
				
				.night:hover {
					background:  #8eb8dc;
					color: #fff;
					border-radius: 60px;
					box-shadow: 0 0 5px   #8eb8dc,
						0 0 25px  #8eb8dc,
						0 0 50px   #8eb8dc,
						0 0 100px   #8eb8dc;
				}
				
				.night:focus {
					outline: 0;
				}

			.f1 {
				width: 120px;
				height: 110px;
				top: 530px;
				left: 500px;
				position: absolute;
			}

			.f2 {
				width: 150px;
				height: 110px;
				top: 120px;
				left: 520px;
				position: absolute;
			}

			.f3 {
				width: 200px;
				height: 100px;
				top: 150px;
				left: 520px;
				position: absolute;

			}

			.f4 {
				width: 50px;
				height: 50px;
				top: 150px;
				left: 900px;
				position: absolute;
				opacity: 0.9;

			}

			.txt {
				font: italic 1em Georgia, serif;
				font-size: 35px;
				color: #e8c4ab;
				text-shadow: 8px 8px 8px #eeeec6;
			}

			.p1 {
				position: absolute;
				left: 825px;
				top: 100px;


			}

			.p2 {
				position: absolute;
				left: 880px;
				top: 150px;
			}

			#tips {
				font-size: 12px;
				position: absolute;
				top: 320px;
				left: 80px;
				color: #ee8183;
				opacity: 0.9;

			}

			#particles-js {
				position: absolute;
				width: 1530px;
				height: 752px;
			}

			.footer {
				width: 200px;
				color: white;
				font-size: 15px;
				margin-left: 5px;
				position: absolute;
				left: 650px;
				bottom: 10px;
				text-align: center;
				padding-bottom: 5px;
			}


			@media (min-height:800px) {
				.bk {
					height: 1800px;
				}
			}