
			html {
				height: 100%;
			}
			.box {
				position: absolute;
				background-color: #FFFFFF;
				top: 150px;
				left: 550px;
				width: 450px;
				height: 450px;
				box-shadow: 0 15px 25px rgba(217, 217, 217, 0.8);
				border-radius: 10px;
			}
			.nibox {
				position: absolute;
				top: 150px;
				left: 550px;
				width: 450px;
				height: 450px;
				background: rgba(78, 91, 120, 0.8);
				box-sizing: border-box;
				box-shadow: 0 15px 25px rgba(78, 91, 120, 0.8);
				border-radius: 10px;
			}

			.head {
				position: absolute;
				left: 185px;
				top: 70px;
				height: 70px;
				width: 70px;
				border-radius: 50%;
			}

			form {
				position: absolute;
				left: 70px;
				top: 150px;
				margin: auto;
				position: absolute;
				width: 100%;
				max-width: 300px;
			}

			.f1 {
				width: 120px;
				height: 110px;
				top: 530px;
				left: 920px;
				position: absolute;
			}

			.f2 {
				width: 150px;
				height: 110px;
				top: 120px;
				left: 520px;
				position: absolute;
			}

			.f3 {
				width: 200px;
				height: 100px;
				top: 150px;
				left: 520px;
				position: absolute;

			}


			#tips {
				font-size: 12px;
				position: absolute;
				top: 320px;
				left: 80px;
				color: #ee8183;
				opacity: 0.9;

			}
			.bt1 {
				position: absolute;
				left: 270px;
				top: 320px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #90e2c0;
				color: #ffffff;
				margin: 2rem 0 0 auto;
			}
			.nibt1{
				position: absolute;
				left: 270px;
				top: 320px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #617aaf;
				color: #ffffff;
				margin: 2rem 0 0 auto;
			}
			
			.bt2 {
				position: absolute;
				left: 70px;
				top: 320px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #90e2c0;
				color: #fff;
				margin: 2rem 0 0 auto;
			
			}
			.nibt2{
				position: absolute;
				left: 70px;
				top: 320px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #617aaf;
				color: #fff;
				margin: 2rem 0 0 auto;
				
			}