	
		html {
					height: 100%;
				}
				.box{
					opacity:0.8;
					background-color: #FFFFFF;
					position:absolute;
					left:1000px;
					top:120px;
					width:450px;
					height:550px;
					border-radius:10px;
					box-shadow: 0 15px 25px rgba(217, 217, 217, 0.8);
				}
					
				.move{
					width:750px;
					height:400px;
					position:absolute;
					left:150px;
					top:100px;
				}
				.el-carousel{
					box-shadow: 0 15px 25px rgba(158, 158, 158, 0.8);
					border-radius: 15px;
				}
				.bottom{
					background-color: #f9f9f9;
					width:850px;
					height:250px;
					position:absolute;
					left:100px;
					top:450px;
					border-radius:10px;
					box-shadow: 0 15px 25px rgba(217, 217, 217, 0.8);
				}
				
				.bottom li{
					width:780px;
					color:#8e9bb0;
					margin: 20px 20px 20px 10px;
					border-bottom: 1px dashed;
					border-color: #d1d1d1;
				}
				.bottom a{
					text-decoration:none;	
					color:#485876;
				}
				.bottom li span{
					position:absolute;
					left:750px;
					color:#c1c1c1;
				}
				.bottom a:hover{
					color:#708fc2;
				
				}
				
				.nibottom{
					background-color: #c9cce3;
					width:850px;
					height:250px;
					position:absolute;
					left:100px;
					top:450px;
					border-radius:10px;
					box-shadow: 0 15px 25px rgba(44, 48, 56, 0.8);
				}
				
				.nibottom li{
					width:780px;
					color:#616b78;
					margin: 20px 20px 20px 10px;
					border-bottom: 1px dashed;
					border-color: #f9f9f9;
				}
				.nibottom a{
					text-decoration:none;	
					color:#313c50;
				}
				.nibottom li span{
					position:absolute;
					left:750px;
					color:#7b8395;
				}
				.nibottom a:hover{
					color:#708fc2;
				
				}				
					.nibox{
						opacity:0.8;
						background-color: #47506f;
						position:absolute;
						left:1000px;
						top:120px;
						width:450px;
						height:550px;
						border-radius:10px;
						box-shadow: 0 15px 25px rgba(44, 48, 56, 0.8);
					}
					
				.text{
					position:absolute;
					left:10px;
					top:5px;
					right:20px;
					padding:;
					
				}
				.p1{
					color:#508268;
					font-size:25px;
					position:absolute;
					left:20px;
					top:15px;
		
				}
				.nip1{
					color:#ebdcff;
					font-size:25px;
					position:absolute;
					left:20px;
					top:15px;
				}
				
				.p2{
					color:#729873;
					font-size:19px;
					position:absolute;
					left:5px;
					top:80px;
					text-align:left;
					text-decoration: underline 2px dashed #e1e1e1;
					line-height: 1.6;
				}
				.nip2{
					color:#cce5f0;
					font-size:19px;
					position:absolute;
					left:5px;
					top:80px;
					text-align:left;
					text-decoration: underline 2px dashed #e1e1e1;
					line-height: 1.6;
				}
				.fl1{
					position:absolute;
					left:370px;
					top:480px;
					width:80px;
					height:60px;
				}
				.fl2{
					display:none;
				}
				.R{
					position: absolute;
					left:20px;
					top:350px;
					font-size:30px;
					color:#f5bec0;
					text-decoration: underline 2px dashed #ffdedf;
					
				}
					
				.niR{
					position: absolute;
					left:20px;
					top:350px;
					font-size:30px;
					color:#b9d6f8;
					text-decoration: underline 2px dashed #f8f8f8;
				}
