.box,
.nibox {
	position: absolute;
	top: 140px;
	left: 930px;
	width: 450px;
	height: 450px;
	border-radius: 10px;
}

.box {
	background-color: #FFFFFF;
	box-shadow: 0 15px 25px rgba(217, 217, 217, 0.8);
}

.nibox {
	background: rgba(78, 91, 120, 0.8);
	box-shadow: 0 15px 25px rgba(78, 91, 120, 0.8);
}

.box1,
.box2,
.box3 {
	height: 110px;
	width: 320px;
	opacity: 0.8;
	background-color: #a5bfcc;
	border-radius: 0.7rem;
	box-shadow: 0.5rem 0.9rem 1.2rem rgba(0, 0, 0, 0.25),
		0.3rem 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
}

.h1,
.h2,
.h3 {
	font-size: 26px;
	color: white;
	text-shadow: 4px 4px 4px #758481;
	position: absolute;
	left: 20px;
	top: 0px;
}

.link1,
.link2,
.link3 {
	color: #ffffff;
	font-size: 16px;
	position: absolute;
	left: 240px;
	top: 70px;
}

.box1 {
	position: absolute;
	top: 140px;
	left: 160px;
}

.box2 {
	position: absolute;
	top: 290px;
	left: 280px;
}

.box3 {
	position: absolute;
	top: 450px;
	left: 120px;
}

.left a:hover {
	color: #77af95;
}

.head {
	position: absolute;
	left: 185px;
	top: 70px;
	height: 70px;
	width: 70px;
	border-radius: 50%;
}

form {
	position: absolute;
	left: 70px;
	top: 70px;
	margin: auto;
	position: absolute;
	width: 100%;
	max-width: 300px;
}

.f1 {
	width: 120px;
	height: 110px;
	top: 510px;
	left: 1330px;
	position: absolute;
}

.f2 {
	width: 150px;
	height: 110px;
	top: 90px;
	left: 920px;
	position: absolute;
}

.f3 {
	width: 200px;
	height: 100px;
	top: 120px;
	left: 920px;
	position: absolute;

}


#tips {
	font-size: 12px;
	position: absolute;
	top: 350px;
	left: 70px;
	color: #ee8183;
	opacity: 0.9;

}

form a {
	color: #7fb18a;
	text-decoration: underline;
	position: absolute;
	top: 260px;
	left: 120px;
}

form a:hover {
	color: #8de5b0;
}

#checkCode {
	background-color: #afcbc7;
	color: #fff;
	width: 85px;
	height: 30px;
	text-align: center;
	letter-spacing: 3px;
	position: absolute;
	left: 20px;
	top: 250px;
	border-radius: 3px;
	font-size: 20px;

}

.bt1,
.nibt1 {
	position: absolute;
	left: 70px;
	top: 340px;
	padding: 0.5rem;
	border: 0;
	margin: 2rem 0 0 auto;
	border-radius: 60px;
	width: 100px;
}

.bt1 {
	background-color: #90e2c0;
	color: #ffffff;

}

.nibt1 {
	background-color: #617aaf;
	color: #ffffff;
}

.bt2,
.nibt2 {
	position: absolute;
	left: 280px;
	top: 340px;
	padding: 0.5rem;
	border: 0;
	border-radius: 60px;
	width: 100px;
	margin: 2rem 0 0 auto;
}

.bt2 {
	background-color: #90e2c0;
	color: #fff;

}

.nibt2 {
	background-color: #617aaf;
	color: #fff;

}
