html {
	height: 100%;
}

.left {
	width: 300px;
	height: 550px;
	background-color: #ffffff;
	position: absolute;
	left: 70px;
	top: 100px;
	border: 10px;
	border-style: solid;
	border-color: #f7f7f7;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

.left span {

	position: absolute;
	left: 20px;
	top: 480px;
	color: #ffffff;
	font-size: 30px;
	width: 180px;
	height: 50px;
	border: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	text-align: center;
	padding-top: 5px;

}

.left img {
	border-radius: 5px;
}

.left2 {
	width: 300px;
	height: 450px;
	background-color: #ffffff;
	position: absolute;
	left: 70px;
	top: 820px;
	border: 10px;
	border-style: solid;
	border-color: #f7f7f7;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

.left2 span {

	position: absolute;
	left: 40px;
	top: 380px;
	color: #ffffff;
	font-size: 30px;
	width: 170px;
	height: 50px;
	border: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	text-align: center;
	padding-top: 5px;

}

.left2 img {
	border-radius: 5px;
}


.card {
	position: absolute;
	top: 80px;
	left: 450px;
	bottom: 30px;
	bottom: 100px;
	border-radius: 10px;
	width: 950px;
	height: 640px;
	background-color: #f2f8f3;
}

.cardtwo {
	position: absolute;
	top: 780px;
	left: 450px;
	bottom: 30px;
	bottom: 100px;
	border-radius: 10px;
	width: 950px;
	height: 640px;
	background-color: #edf7ee;
}

.card1 {
	background-color: #FFFFFF;
	position: absolute;
	left: 20px;
	top: 10px;
	width: 220px;
	height: 300px;
}


.card2 {
	background-color: #FFFFFF;
	position: absolute;
	left: 20px;
	top: 330px;
	width: 220px;
	height: 300px;
}

.card3 {
	background-color: #FFFFFF;
	position: absolute;
	left: 250px;
	top: 10px;
	width: 220px;
	height: 300px;
}

.card4 {
	background-color: #FFFFFF;
	position: absolute;
	left: 250px;
	top: 330px;
	width: 220px;
	height: 300px;
}

.card5 {
	background-color: #FFFFFF;
	position: absolute;
	left: 480px;
	top: 10px;
	width: 220px;
	height: 300px;
}

.card6 {
	background-color: #FFFFFF;
	position: absolute;
	left: 480px;
	top: 330px;
	width: 220px;
	height: 300px;
}

.card7 {
	background-color: #FFFFFF;
	position: absolute;
	left: 710px;
	top: 10px;
	width: 220px;
	height: 300px;
}

.card8 {
	background-color: #FFFFFF;
	position: absolute;
	left: 710px;
	top: 330px;
	width: 220px;
	height: 300px;
}


.pic {
	position: absolute;
	top: 3px;
	left: 10px;
	width: 200px;
	height: 220px;
	border-radius: 5px;
}

.card span {
	font-size: 13px;
	color: #313131;
	text-shadow: 1px 1px 1px #cbcbcb;
	position: absolute;
	top: 240px;
	left: 10px;
}

.cardtwo span {
	font-size: 13px;
	color: #313131;
	text-shadow: 1px 1px 1px #cbcbcb;
	position: absolute;
	top: 240px;
	left: 10px;
}

#sold {
	color: #7e7e7e;
	position: absolute;
	font-size: 12px;
	top: 270px;
	left: 140px;
}

.isLogin button {
	position: absolute;
	top: 210px;
	left: 140px;
	width: 60px;
	height: 25px;
	border: 0;
	border-radius: 60px;
	background-color: #a5e1bb;
	color: #fff;
	margin: 2rem 0 0 auto;
}

.isLogin button:hover {
	background: #a5e1bb;
	color: #fff;
	border-radius: 60px;
	box-shadow: 0 0 5px #a5e1bb,
		0 0 25px #a5e1bb,
		0 0 50px #a5e1bb,
		0 0 100px #a5e1bb;
}
