
			html {
				height: 100%;
			}

			.box {
				position: absolute;
				background-color: #FFFFFF;
				top: 100px;
				left: 500px;
				width: 500px;
				height: 550px;
				box-shadow: 0 15px 25px rgba(217, 217, 217, 0.8);
				border-radius: 10px;
			}
			.nibox {
				position: absolute;
				background-color: #FFFFFF;
				top: 100px;
				left: 500px;
				width: 500px;
				height: 550px;
				background: rgba(78, 91, 120, 0.8);
				box-sizing: border-box;
				box-shadow: 0 15px 25px rgba(78, 91, 120, 0.8);
				border-radius: 10px;
			}

			.head {
				position: absolute;
				left: 205px;
				top: 45px;
				height: 70px;
				width: 70px;
				border-radius: 50%;
			}

			form {
				position: absolute;
				left: 90px;
				top: 120px;
				margin: auto;
				position: absolute;
				width: 100%;
				max-width: 300px;
			}

			.bt1 {
				position: absolute;
				left: 80px;
				top: 440px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #90e2c0;
				color: #fff;
				margin: 2rem 0 0 auto;
			}

			.bt2 {
				position: absolute;
				left: 300px;
				top: 440px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #90e2c0;
				color: #fff;
				margin: 2rem 0 0 auto;
			}
			.nibt1{
				position: absolute;
				left: 80px;
				top: 440px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #617aaf;
				color: #fff;
				margin: 2rem 0 0 auto;
			}
			.nibt2{
				position: absolute;
				left: 300px;
				top: 440px;
				padding: 0.5rem;
				border: 0;
				border-radius: 60px;
				width: 100px;
				background-color: #617aaf;
				color: #fff;
				margin: 2rem 0 0 auto;
			}

			.f1 {
				width: 120px;
				height: 110px;
				top: 600px;
				left: 450px;
				position: absolute;
			}

			.f2 {
				width: 260px;
				height: 100px;
				top: 80px;
				left: 800px;
				position: absolute;
			}

			#tips {
				font-size: 12px;
				position: absolute;
				top: 440px;
				left: 100px;
				color: #ee8183;
				opacity: 0.9;

			}
			#strtips{
				font-size:13px;
				position: absolute;
				left:330px;
				top:360px;
				color:#93d554;
			}