<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes">
		<title>LULU花房(*￣▽￣*)ブ欢迎您</title>
		<link rel="stylesheet" href="./css/flower-2.css" />
		<script type="text/javascript" src="./js/vue.js"></script>

	</head>
	<body>
		<div class="bk">
			<div id="particles-js"></div>
			<div class="box" id="container">

				<img class="head"
					v-bind:src="user.img">
				<div class="Regist">
					<form>
						<label for="name">Name</label>
						<input type="text" placeholder="请输入用户名" v-model="user.name" @keyup="checkRegistInfo">
						<label for="email">Email</label>
						<input type="text" placeholder="请输入邮箱" v-model="user.email" @keyup="checkRegistInfo">
						<label for="password">Password</label>
						<input type="password" placeholder="请输入密码" v-model="user.password" @keyup="checkRegistInfo">
						<label for="con-password">Confirm Password</label>
						<input type="password" placeholder="请再次输入密码" v-model="user.conpassword" @keyup="checkRegistInfo">

					</form>
					<div id="strtips">{{strtips}}</div>
					<button class="bt1" type="reset">重设</button>
					<button class="bt2" type="button" @click="doRegist">提交</button>

				</div>
				<div id="tips">{{tips}}</div>
			</div>
			<div class="txt">
				<p class="p1">LuLu </p>
				<p class="p2">Flower</p>
			</div>
			<div class="picture">
				<img class="f1" src="https://pics.prcm.jp/3a638fefa1001/75420560/png/75420560_220x200.png" />
				<img class="f2" src="https://sozai-good.com/uploads/83454/83454_sample.png" />
			</div>
			<div class="footer">Created by LULU @2021.</div>
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el: "#container",
				data: {
					user: {
						name: "",
						email: "",
						password: "",
						conpassword: "",
						img:"./img/head.png",
					},
					tips: "",
					strtips:"",
					isRight: false,
				},
				methods: {
					checkRegistInfo: function() {
						//1.校验账号
						if (vm.user.name == "") {
							vm.tips = "请输入账号！";
							vm.isRight = false;
						} else if (vm.user.name.length < 8 || vm.user.name.length > 15) {
							vm.tips = "账号长度必须为8-15个字符！";
							vm.isRight = false;
						} else {
							//2.校验邮箱
							var regEmail = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
							if (vm.user.email == "") {
								vm.tips = "请输入邮箱！";
								vm.isRight = false;
							} else if (vm.user.email != '' && !regEmail.test(vm.user.email)) {
								//正则校验
								vm.tips = "邮箱格式不正确！";
								vm.isRight = false;
							} else {
								//3.校验密码
								var pwd1=/^(\d{8,16})|([a-z]{8,16})|([A-Z])$/;
								var pwd2=/^(?![\d]+$)(?![a-zA-Z]+$)(?![^\da-zA-Z]+$).{8,16}$/;
								var pwd3= /(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,16}/;
								if (vm.user.password == "") {
									vm.tips = "请输入密码！";
									vm.strtips="";
									vm.isRight = false;
								} else if (vm.user.password.length < 8 || vm.user.password.length > 16) {
									vm.tips = "密码长度必须为8-16个字符！";
									vm.strtips="";
									vm.isRight = false;
								} else{
									if (pwd1.test(vm.user.password)){
										vm.tips="密码强度过弱,请前八位至少包含两种字符";
										vm.strtips="";
										vm.isRight = false;	
											if (pwd2.test(vm.user.password)){
												vm.strtips = "密码强度:中 ";
												if(pwd3.test(vm.user.password)){
													vm.strtips = "密码强度:强";													
												}
												if (vm.user.conpassword == "") {
													vm.tips="请输入确认密码！"
													vm.isRight = false;										
													} else if (vm.user.conpassword != vm.user.password) {
													vm.tips = "两次密码输入不一致！";
													vm.isRight = false;
												} else {
													vm.tips = "";
													vm.isRight = true;
												}												
											}
										}										
									else if (pwd2.test(vm.user.password)){
										vm.strtips = "密码强度:中 ";
										if(pwd3.test(vm.user.password)){
											vm.strtips = "密码强度:强";
											
												}	
										if (vm.user.conpassword == "") {
											vm.tips="请输入确认密码！"
											vm.isRight = false;										
											} else if (vm.user.conpassword != vm.user.password) {
											vm.tips = "两次密码输入不一致！";
											vm.isRight = false;
										} else {
											vm.tips = "";
											vm.isRight = true;
										}
										}				
									}
								}
								

							}
						},
					doRegist: function() {
						if (!vm.isRight) {
							vm.tips = "请确认注册信息输入完整且正确！";
						} else {
							alert('注册成功,即将跳转登陆界面...');
							window.location.href = "flower-1.html";

						}
					}
					}
					
			})
		</script>
		<script src="./js/particles.js"></script>
		<script src="./js/app.js"></script>

	</body>

</html>
