<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport"
			content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes">
		<title>LuLu花房(*￣▽￣*)ブ欢迎您</title>
		<link rel="stylesheet" href="./css/flower-1.css" />
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="./js/cookie_utils.js" ></script>
		
	</head>
	<body>
		<div :class="{bk:noon,bknight:night}" id="container">
			<div id="particles-js"></div>
			<button class = "night" @click="tonight">夜间模式</button>
			<div :class="{box:noon,nibox:night}">
				<div class="Login">
					<form>
						<label for="name" :class= "{label:noon,nilabel:night}">Username</label>

						<input type="text" v-model="name" :class="{input:noon,niinput:night}" placeholder="请输入用户名" @keyup="checkInfo">

						<label for="password" :class= "{label:noon,nilabel:night}">Password</label>

						<input type="password" v-model="password" :class="{input:noon,niinput:night}" placeholder="请输入密码" @keyup="checkInfo">

					</form>
					<button :class="{bt1:noon,nibt1:night}" type="button" @click="doSubmit">登录</button>
					<button :class="{bt2:noon,nibt2:night}" type="button"
						onclick="javascript:window.location.href='flower-2.html'">注册</button>
					<div id="tips">{{tips}}</div>
					<img class="head"
						v-bind:src="img">
				</div>

			</div>
			<div class="txt">
				<p class="p1">LuLu </p>
				<p class="p2">Flower</p>
			</div>


			<div class="picture">
				<img class="f1" src="https://pics.prcm.jp/3a638fefa1001/75420560/png/75420560_220x200.png" />
				<img class="f2" src="https://www.haoy99.com/FileUpload/2018-11/7-60Zhang_Bei_Jing_Tou-102413_132.png" />
				<img class="f3" src="https://pics.prcm.jp/3a638fefa1001/75420559/png/75420559_220x113.png" />
				<img class="f4" src="https://pics.prcm.jp/fcd56c54d1c20/81169762/png/81169762_220x220.png" />
			</div>
			<div class="footer">Created by LULU @2021.</div>
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el: "#container",
				data: {
					name:"",
					password: "",
					img:"./img/head.png",
					tips: "",
					isRight:false,		
					noon:true,
					night:false,
				},
				created:function(){
					var tonight = getCookieValue("tonight");	// 读取在别的页面是否夜间模式来决定此页面是否为夜间模式
					 if(tonight!=null && tonight!=""){
						 this.noon=false;
						 this.night=true;
					}else{
						this.noon=true;
						this.night=false;
					}
				},
				methods: {
					checkInfo: function() {
						if (vm.name == "") {
							vm.tips = "请输入帐号！";
							vm.isRight = false;
						} else if (vm.name.length < 8 || vm.name.length > 15) {
							vm.tips = "账号长度必须为8-15个字符！";
							vm.isRight = false;
						} else {
							//账号合法，校验密码
							if (vm.password == "") {
								vm.tips = "请输入密码！";
								vm.isRight = false;
							} else if (vm.password.length < 8 || vm.password.length > 16) {
								vm.tips = "密码长度必须为8-16个字符！";
								vm.isRight = false;
							} else {
								vm.tips = "";
								vm.isRight = true;
							}
						}
					},
					doSubmit: function() {
						if (vm.isRight) {
							vm.tips = "yes";
							setCookieValue("token",vm.tips);
							setCookieValue("username",vm.name);
							console.log(getCookieValue("token"));
							alert('登陆成功！');
							window.location.href = "flower-3.html";
						} else {
							vm.tips = "请正确输入帐号和密码！";
						}
					},
					tonight:function(){
						if(vm.night){						// 因为监听器会随时监测night是否和tonight方向一致
							var space = "";					// 所以要先改变tonight的值再去改变night的值才能使night变化
							setCookieValue("tonight",space);	//不然night一变化就会被强制和tonight保持一致而恢复原来状态
							vm.night=false;							//就会产生不论怎么点击都无法改变的状况
							vm.noon=true;
						}else if(vm.noon){
							setCookieValue("tonight",vm.noon);
							vm.noon=false;
							vm.night=true;
					}
					
					},
				},
				watch: {		// 随时监听night是否和cookie里的tonight方向一致，避免因F5刷新而导致的数据缺失
								// 从而导致night和tonight的不同步性
				
				   night() {
					   var isnight = getCookieValue("tonight");
					  if (isnight!=null && isnight!=""){
						  this.noon = false;
						  this.night = true;
					  }else{
						  this.noon = true;
						  this.night = false;
					  }
				   }
				
				},
			});
		</script>
		<script src="./js/particles.js"></script>
		<script src="./js/app.js"></script>

	</body>

</html>
